
.listaAdmin{
	background:#fff;
  font-family: 'Source Sans Pro', sans-serif;
      color: #fff;
      text-align: center;
      font-family: 'Nixie One', cursive;
      font-weight:500;
      height: 650px;
    width: 100%;
}
.listaAdminTitul{
    
    color: #fff;
    position: absolute;
    margin-left: 76px;
    margin-top: 50px;
    background: #fff;
     text-align: center;
    font-weight:400;
     height: 500px;
    width: 250px;
   
    
}
.listadoCosas{
    
    color: #918D8D;
    position: absolute;
    margin-left: 276px;
    margin-top: 50px;
    margin-right: 96px;
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
     text-align: center;
    font-weight:500;
     height: 500px;
    width: 850px;
    overflow: scroll;
   
}
.table-striped{
   width: 25%;
   text-align: center;
    font-family: 'SintonyRegular';
   vertical-align: top;
   border: 1px solid #000;
    margin-top:10px;
  display:none;
}
.tittle{

    color: #202020;
    background: white;
    text-align: center;
    font-family: 'SintonyRegular';
    font-weight:600;
    font-size: 22px;
    border: #888888;
    border-bottom-style: double;
    border-style: solid;
    
}
.tabAdmin{
    margin-top: 2px;
    font-family: 'DosisRegular';
    font-size: 20px;
  color: black;
   background:;
  cursor: pointer;
  padding:1em;
  display: inline-block;
  text-align: left;
  list-style: none;
  float: left;
  width: 99%;
  
}
.tabAdmin:hover{
    color: #a89574; 
}
.izquierda { float: left;
    font-family: 'SintonyRegular';
      text-align: center;
margin-top: 10px;}
.list-group{
    display:none;
}